<div class="comment_box" style="margin: 50px 0 50px 0;">
<h4>Post Comment</h4>

<%= form_for [@article, @comment] do |f| %>
  <% @comment.errors.full_messages.each do |error| %>
    <% flash[:error] = error %>
  <% end %>
  
  <p>
    <%= f.label :author_name %></br>
    <%= f.text_field :author_name %>
  </p>
  
  <p>
    <%= f.label :body %></br>
    <%= f.text_area :body %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
