<h1><%= @article.title %></h1>
<% if @article.image? %>
  <p class="center">
    <%= image_tag @article.image.url(:medium) %>
  </p>
<% end %>
<p><small>Created - <%= @article.created_at.strftime("%Y-%m-%d") %></small></p>
<div class="panel panel-default" style="margin: 0 50px 10px 50px ; padding: 5px; min-height: 200px;">
  <%= @article.body %>
</div>
<div style="padding: 5px; min-height: 50px;">
  <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag), class: "btn btn-info" %>
  <% end %>
</div>
</br>
<%= link_to 'Back', articles_path %>
<% if logged_in? %>
    |  
  <%= link_to 'Edit', edit_article_path(@article) %>  |  
  <%= link_to 'Delete', article_path(@article), method: :delete, 
      data: {confirm: "Confirm Delete Article"} %>
<% end %>

<%= render partial: 'comments/form' %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
