<h1><%= @article.title %></h1>
<p><small>Created - <%= @article.created_at.strftime("%Y-%m-%d") %></small></p>
<p>
<div class="panel panel-default" style="padding: 5px; min-height: 200px;">
<%= @article.body %>
</p>
</div>
<div>
  <% @article.tags.each do |t| %>
    <button type="button" class="btn btn-info"><%= t.name %></button>
  <% end %>
</div>
</br>
<%= link_to 'Back', articles_path %>  |  
<%= link_to 'Edit', edit_article_path(@article) %>  |  
<%= link_to 'Delete', article_path(@article), method: :delete, 
    data: {confirm: "Confirm Delete Article"} %>

<%= render partial: 'comments/form' %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
